#title{
    color: white;
    margin-top: 70px;
    background: black;
    background-size: cover;
    height: 150px;
}
#title h1{
    font-weight: bolder;
    font-size: 60px;
    position: relative;
    top: 30%;
}

@media screen and (max-width: 615px) {
    #title h1{
        font-size: 50px;
    }
  }